.mud-nav-link-disabled {
    background: gold;
}

    .mud-nav-link-disabled .mud-nav-link-text {
        color: #001122 !important;
    }

    .mud-nav-link-disabled .mud-nav-link-icon {
        color: #001122 !important;
    }
