::deep .mud-nav-link-disabled {
    background: #FC0;
}

    ::deep .mud-nav-link-disabled .mud-nav-link-text {
        color: #001122 !important;
    }

    ::deep .mud-nav-link-disabled .mud-nav-link-icon {
        color: #001122 !important;
    }
